<footer>
<p>Copyright © since 2021.  All rights reserved. <a href="{{ site.url }}/feed">RSS Feed</a>.</p>
</footer>
<script>
function addLink(){var e=window.getSelection();pagelink="<br><br> 출처: "+document.location.href,copytext=e+pagelink,newdiv=document.createElement("div"),newdiv.style.position="absolute",newdiv.style.left="-99999px",document.body.appendChild(newdiv),newdiv.innerHTML=copytext,e.selectAllChildren(newdiv),window.setTimeout(function(){document.body.removeChild(newdiv)},100)}document.addEventListener("copy",addLink);
</script>
